.message-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #F36223;
    color: white;
    max-height: 45px;
    font-weight: 400;
    font-size: 17px;
    padding: 25px;
    width: 280px;
    line-height: 24px;
    border-radius: 8px;
    opacity: 0.9;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    animation: hide 4s;
    animation-fill-mode: forwards;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .message-cart {
        position: absolute;
        right: 100px;
        left: 55px;
        top: 800px;
        width: 250px;
        padding: 15px;
        max-height: 35px;

    }
}

@keyframes hide {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    0% {
        transform: rotate(0deg);
        box-shadow: 0 10px 40px #e65c00;
    }

    50% {
        transform: rotate(0deg);
        box-shadow: 0 10px 40px #c5a203;
    }

    100% {
        transform: rotate(0deg);
        box-shadow: 0 10px 40px #0456c8;
    }

}

.hidden {
    display: none;
}