body {
    padding: 0px;
    margin: 0px;
    height: 300px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    background: #F0F0F0;
}

