.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0;
    background: rgb(233, 240, 246);
    box-shadow: 0 2px 9px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 360px) and (max-width: 1023px) {
    .header {
        width: 360px;
        margin: 0px;
    }

    .logo{
        margin-top: 10px;
        width: 50px;
        height: 45px;
        margin-right: -10px;
        margin-left: -10px;

    }

    .orange {
        font-size: 32px;
        line-height: 39px;
    }

    .blue{
        font-size: 32px;
        line-height: 39px;
    }

    .icons img{
        width: 26.02px;
        height: 20.8px;
    }

    .icons{
        margin-top: 10px;
    }

}

.market-name {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; */

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: none;
    order: 0;
    flex-grow: 1;

}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

@media screen and (max-width: 1499px) {
    .container {
        padding: 0 15px;
        max-width: 1024px;
    }
}

.market-line {
    display: flex;
}

.line-login {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: 700;
}

.logo {
    padding-bottom: 13px;
}

.line {
    margin-left: 10px;
    line-height: 53.25px;
    font-size: 44px;
}

.orange {
    color: #ff5722;
}

.icons {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
    gap: 10px;
}

.cart-img-1 {
    width: 41px;
    height: 39px;
    position: relative;
    right: 5px;
    top: 15px;
}

.cart-img-2 {
    width: 43px;
    height: 34px;
    position: relative;
    right: 0px;
    top: 15px;
}

.cart-number-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: 10px;
    z-index: 1;
}

.cart-number-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 54px;
    top: 10px;
    z-index: 1;
}

.hidden {
    display: none;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .cart-number-1 {
        width: 12px;
        height: 12px;
        right: 0px;
        font-size: 8px;
    }

    .cart-number-2 {
        width: 12px;
        height: 12px;
        right: 38px;
        font-size: 8px;
    }
}