@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.form {
  padding: 0px 0px 0px 170px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .form {
    padding: 0;
  }
}

@media (min-width: 360px) and (max-width: 1023px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    max-width: 335px;
  }

}

.form__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 15px 0px;
  padding: 0;
  margin-top: 60px;
}

.form__input {
  display: flex;
}

.form__fieldset1 {
  display: flex;
  flex-direction: column;
  width: 68%;
  box-sizing: border-box;
}

.form__name {
  padding: 15px 20px;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  resize: none;
  font-weight: 500;
  font-size: 16px;
}

.form__fieldset2 {
  width: 5%;
  box-sizing: border-box;
}

.form__fieldset3 {
  display: flex;
  flex-direction: column;
  width: 27%;
  box-sizing: border-box;
}

.form__grade {
  padding: 15px 20px;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.form__text {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

textarea::placeholder {
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}

.form-hover-focus:hover {
  border: 1px solid #f36223;
}

.form-hover-focus:focus {
  outline: 1px solid #f36223;
}

.review__text-author {
  padding: 15px 20px;
  width: 100%;
  height: 222px;
  border: 1px solid #888888;
  resize: none;
  margin-bottom: 30px;
}

.error-name {
  box-sizing: border-box;
  padding: 15px 20px;
  gap: 10px;
  width: 495px;
  height: 46px;
  background: #DA4A0C;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.error-blok-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 495px;
  height: 46px;
}

.error-rating {
  box-sizing: border-box;
  padding: 8px 20px;
  gap: 10px;
  width: 175px;
  height: 46px;
  background: #DA4A0C;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.error-blok-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 175px;
  height: 46px;
}

.hidden {
  display: none;
}

.reviews-form__submit1 {
  box-sizing: border-box;
  padding: 10px 20px;
  background: #F36223;
  border-radius: 4px;
  width: 177px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.reviews-form__submit1:hover {
  background: #DA4A0C;
}


@media (min-width: 1025px) and (max-width: 1499px) {

  .review__string-form,
  .review__text-author {
    width: 100%;
  }

  .review__form {
    width: 100%;
  }

  .review__field-name {
    width: 70%;
  }

  .review__name,
  .review__rating,
  .error-name,
  .error-blok-name,
  .error-rating,
  .error-blok-rating {
    width: 100%;
  }

  .review__field-rating {
    width: 25%;
  }
}

@media (max-width: 1024px) {

  .review__form,
  .review__string-form,
  .review__text-author {
    width: 594px;
  }

  .review__name,
  .error-name,
  .error-blok-name,
  .error-blok-rating {
    width: 379px;
  }

  .review__rating,
  .error-rating {
    width: 175px;
  }
}

@media (min-width: 360px) and (max-width: 1023px) {

  .form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 335px;
  }

  .form__fieldset2{
    width: 0;
  }

  .form__fieldset1{
    width: 100%;
  }

  .form__fieldset3{
    width: 100%;
  }

  .review__text-author{
    width: 100%;
  }

  .form__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .error-name, .error-blok-name, .error-blok-rating,.error-rating {
    width: 100%;
}

.reviews-form__submit1{
  margin-top: -30px;
}
}