.product__sidebar {
    display: flex;
    flex-direction: column;
    width: 420px;
}

@media (max-width: 1500px) {
    .product__sidebar {
        width: 360px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__sidebar {
        flex: none;
        order: -1;
        flex-grow: 0;
        width: 330px;
    }
}

.product__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    height: auto;
}

.price {
    padding: 20px;
}

.price__group {
    display: flex;
    flex-direction: column;
}

.price__discount {
    display: flex;
    justify-content: flex-start;
}

.price__sum {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.gray-1 {
    color: #888888;
}

.price__percent-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 50px;
    height: 25px;
    border-radius: 500px;
    background-color: #f36223;
    margin-left: 10px;
}

.price__percent {
    color: white;
    text-decoration: none;
    font-size: 18px;
    flex: 0 0 15px;
}

.price__comment {
    margin-top: 15px;
    margin-bottom: 35px;
}

.price__comment p:not(:last-of-type) {
    margin-bottom: 10px;
}

.advertisement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .advertisement {
        display: none;
    }
}


.advertisement P {
    color: #888888;
}

.advertisement__iframes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.ads {
    background: #F0F0F0;
    border: 1px dashed #888888;
    height: 300px;
    width: 420px;
    box-sizing: border-box;
}

@media (max-width: 1500px) {
    .ads {
        width: 360px;
    }
}

.sidebar-info__like::after {
    display: inline-block;
    content: '';
    background-image: url(./heart_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-info__like:hover::after {
    display: inline-block;
    content: '';
    background-image: url(./heart_3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@keyframes heart {
    0% {
        width: 20px;
        height: 14px;
    }

    100% {
        width: 26px;
        height: 20px;
    }
}

.sidebar-info__like_focus:hover::after {
    display: inline-block;
    content: '';
    background-image: url(./Heart_fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar-info__like:active::after {
    display: inline-block;
    content: '';
    background-image: url(./heart_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like_choise::after {
    display: inline-block;
    content: '';
    background-image: url(./Heart_fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like_choise:hover::after {
    display: inline-block;
    content: '';
    background-image: url(./Heart_fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    animation: none;
}

.like_choise:hover::after {
    display: inline-block;
    content: '';
    background-image: url(./Heart_fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    background: #F36223;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.choise {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    background: #888888;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.sidebar__button::before {
    display: inline-block;
    content: '';
    background-image: url(./Cart_w.svg);
    background-size: contain;
    width: 21px;
    height: 20px;
}

.sidebar__button:hover {
    background-color: #DA4A0C;
}

.choise:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    background: #888888;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.sidebar__button:active {
    background-color: #A93A09;
}