.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 475px;
    width: 1400px;
    margin: auto;

}

.text {
    width: 453px;
    height: 57px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;

}

.link {
    width: 228px;
    height: 19px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #008CF0;
}

@media (max-width: 1499px) {
    .content {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 994px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    
    .content {
        width: 360px;
    }

    .text {
        width: 340px;
        font-size: 14px;
        line-height: 16.48px;
        align-items: center;
        height: 68px;

    }

    .link {
        margin-top: 10px;
    }
}